@use './variables.module.scss' as vars;

:root {
  --sidebar-width: #{vars.$sideBarWidth};
  --navbar-height: #{vars.$navBarHeight};
  --header-height: #{vars.$headerHeight};
  --tagsview-height: #{vars.$tagsViewHeight};
  --menu-bg: #{vars.$menuBg};
}
