$sideBarWidth: 210px;
$navBarHeight: 50px;
$headerHeight: 84px;
$tagsViewHeight: 34px;

$menuText: #bfcbd9;
$menuActiveText: #409eff;
$menuBg: #304156;
$theme: #409eff;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  theme: $theme;
  navBarHeight: $navBarHeight;
  headerHeight: $headerHeight;
  tagsViewHeight: $tagsViewHeight;
}
